@font-face {
    font-family: Playfair;
    src: url(./font/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
    font-family: Clicker;
    src: url(./font/ClickerScript-Regular.ttf);
}

:root {
    --black: #000;
    --white: #fff;
    --main-color: rgb(222, 172, 79);
    --heading-color: blue;
    --space-out: 0 6rem 1rem 6rem;
    --headlinedark: #412717;
    --headlinedarktr: #412717bd;
    --cardslight: #fff5e9;
    --bordercolor: #d1b797;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Playfair";
}

a {
    text-decoration: none;
    
}

p {
   margin-top: 2vh; 
   font-size: clamp(1.5rem, 1.7rem, 2rem);
}

img {
    max-width: 100%;
 }

 .btn {
    border-radius: 4rem;
    background-color: var(--main-color);
    color: var(--black);
    padding: 1.5rem 2.5rem;
    color: var(--black);
    display: inline-block;
    font-size: clamp(1.4rem, 1.8rem, 2rem);
    margin-top: 2vh; }

 /* header */

 header {
    min-height: 100vh;
    color: var(--white);
    background: linear-gradient(50deg, black,  rgba(0, 0, 0, 0.021)), url(./img/header.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
 }

 h1 {
    font-family: "Clicker";
    font-size: 22rem;
    font-weight: 100;
 }

 h2 {
    color: var(--headlinedark);
    font-size: clamp(4rem, 4.5rem, 5rem);
 }

 h4 {
    font-size: 2.1rem;
    font-weight: 100;
 }

 header nav a {
    color: var(--white);
    padding: 2vw;
    font-size: clamp(1.4rem, 1.8rem, 2rem);
 }

 nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
 }


 header section {
    max-width: 45vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 30vw;
    padding: var(--space-out);
    gap: 1vh;
    padding: 10vh 0 10vh 0;
    margin: var(--space-out);
 }

 header section p {
    font-size: clamp(1.5rem, 1.7rem, 2rem);
    line-height: 3.5rem;
 }

 .coffee-cup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: var(--space-out)
 }

 .coffee-cup article {
    max-width: 50vw;
 }

 .coffee-cup article p {
    line-height: 4rem;
    font-size: clamp(1.8rem, 2rem, 2.4rem);
    margin-top: 3vh;
 }

 .different article div p {
    line-height: 2.3rem;
    font-size: clamp(1.5rem, 1.7rem, 2rem);
    margin-top: 2vh;
 }

 .coffee-cup img {
    max-width: 45rem;
 }

 .splashbild {
    width: 28rem;
    margin-top: -2rem;
 }

 /* different */

 .different {
    text-align: center;
    margin: var(--space-out);
 }

 .different p {
   padding: 1rem 0 3rem 0;
 }

 .different article div {
   background-color: var(--cardslight);
   padding: 1rem;
   max-width: 250px;
   border: 1px solid var(--bordercolor);
 }


 .different article {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.5rem;
  margin: 0 0 1.5rem 0;
}

 h3 {
    font-size: 2rem;
    margin-top: 2vh;
    color: var(--headlinedark);
    font-size: clamp(2.5rem, 2.8rem, 3.2rem);
 }

 .different div img {
  max-width: 4rem;
  margin: 1.5rem 0;
 }

 .coffee-cup2 {
    background: linear-gradient(50deg, var(--headlinedarktr), var(--headlinedarktr)), url(./img/bgimg.png) no-repeat;
    background-size: cover;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: var(--space-out);
   min-height: 80vh;
   color: var(--white);
 }

 .coffee-cup2 h2, .coffee-cup2 p {
    color: var(--white);
 }
